.task {
  display: contents;
}

.task:first-child {
  margin-top: 16px;
}

.task__checkbox {
  grid-column: 1;
  cursor: pointer;
}

.task__checkbox-ticked {
  display: flex;
}

.task__checkbox-empty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #5d5c5c;
  cursor: pointer;
}

.task__title {
  grid-column: 2;
  justify-self: left;
}

.task__title,
.task__due-date {
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
}

.task__assignee {
  grid-column: 3;
}

.task__due-date {
  grid-column: 4;
}

.task__view-more {
  grid-column: 5;
  cursor: pointer;
}

.completed .task__title,
.completed .task__due-date {
  color: #8d8d8d;
  text-decoration-line: line-through;
}

.completed .task__checkbox,
.completed .task__assignee,
.completed .task__view-more {
  fill: #c4c4c4;
}

/* -- Expanded View -- **/
.task__expanded-view {
  position: absolute;
  top: 0;
  left: 0;
}
